#content {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #F2F2F2;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    border-top: 1px solid #D9D2AD;
    border-bottom: 1px solid #D9D2AD;
}
