#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #D9D2AD;
}

    #header h1 {
        text-shadow: 0 0 2px #000;
        color: #fefefe;
        font-size: 28pt;
        text-align: center;
        line-height: 150px;
    }

