/**
 * Stylesheet for infoscreen 
 * 


colorschemes:

* 1B2B32
* 37646F
* A3ABAF
* E1E7E8
* B22E2F
* 



kuler:
* clear
* 

 * BF0F1E
 * 212426
 * 4D8C8C
 * D9D2AD
 * F2F2F2
 * 357C26

 */
 
/**
 * Basic configuration
 */
@font-face {
	font-family: dejavusans;
	src: url('font/DejaVuSansCondensed.ttf');
}

@font-face {
	font-family: dejavusans;
    font-weight: bold;
	src: url('font/DejaVuSans.ttf');
}

 
* {
    margin: 0;
    padding: 0;
    font-family: dejavusans;
    font-size: 18pt;
    color: #212426;
}

html, body {
    height: 100%;
}

p {
    line-height: 1.5;
    margin-bottom: 30px;
}

#site {
    min-height: 100%;
    height: 100%;
}

/*
 * General classes
 */
.alarm {
    background-image: linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
    background-image: -o-linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
}

.peace {
    background-image: linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
    background-image: -o-linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
}



/**
 * Header
 */
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #D9D2AD;
}

    #header h1 {
        text-shadow: 0 0 2px #000;
        color: #fefefe;
        font-size: 28pt;
        text-align: center;
        line-height: 100px;
    }



/**
 * Content
 */
#content {
    margin-top: 101px;
    margin-bottom: 76px;
    background-color: #fcfcfc;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

    #content .left_row {
        float: left;
        width: 50%;
    }
    
    #content .right_row {
        float: left;
        width: 50%;
    }

