/**
 * Include other stylesheets
 */
@import url("header.css") all;
@import url("content.css") all;
@import url("footer.css") all;

/**
 * Basic configuration
 */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14pt;
    color: #212426;
}

html, body {
    height: 100%;
}

p {
    line-height: 1.5;
}

#site {
    min-height: 100%;
    height: 100%;
}

/*
 * General classes
 */
.alarm {
    background-image: linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
    background-image: -o-linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(191,15,30) 0%, rgb(213,15,28) 100%);
}

.peace {
    background-image: linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
    background-image: -o-linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(52,124,38) 0%, rgb(60,155,38) 100%);
}

/*

colorschemes:

* 1B2B32
* 37646F
* A3ABAF
* E1E7E8
* B22E2F
* 



kuler:
* clear
* 

 * BF0F1E
 * 212426
 * 4D8C8C
 * D9D2AD
 * F2F2F2
 * 357C26


*/
