{% extends 'infoscreen_screen/base.html' %}

{% block title %}Feuerwehr Infoscreen - Einsatz links{% endblock %}

{% block heading %}Chemieunfall m. größeren Umweltschäden{% endblock %}


{% block content %}
<div>
    
    <ul class="ausrueckordnung">
        <li>Fahrzeug 1</li>
        <li>Fahrzeug 2</li>
        <li>Fahrzeug 3</li>
    </ul>
    
    <ul class="adresse">
        <li>Hoher Markt 3</li>
        <li>2500 Krems</li>
    </ul>
    
    <p>Bis jetzt 2 tote, Umgebung im Kreis von 1 Kilometer verseucht</p>
    

</div>

{% endblock %}

