{% extends 'infoscreen_screen/base.html' %}

{% block title %}Feuerwehr Infoscreen - Bildschirm links{% endblock %}

{% block head %}
    <script src="{% url screen:javascript_main '0' %}" type="text/javascript"></script>
{% endblock %}


{% block header %}
<div id="header" class="brand">
    <div id="alarmstufe">B2</div>
    <h1 id="classification">Wohnungsbrand</h1>
</div>    
{% endblock %}

{% block content %}
<div id="einsatz_links">    
    <div id="details">
		<ul>
			<li><span id="street">Höchstädtplatz</span> <span id="housenr">5</span> <span id="stairnr"></span> <span id="doornr"></span></li>
			<li><span id="zip">1200</span> <span id="place">Wien</span></li>			
		</ul>
		<p id="object">Dachgeschoßwohnung</p>
		<p id="notes">Flammen schlagen aus dem Fenster, oberstes Stockwerk, keine Personen mehr im Gebäude</p>
    </div>
    <div id="ausrueckeordnung">
		<div class="vehicle_order_entry">RLFA 2000</div>    
		<div class="vehicle_order_entry">KDOF-A</div>
		<div class="vehicle_order_entry">GTLF 10000</div>
	</div>
</div>

{% endblock %}
