{% extends 'infoscreen_screen/base.html' %}

{% block title %}Feuerwehr Infoscreen - Bildschirm links{% endblock %}

{% block head %}
    <script src="{% url screen:javascript_main '0' %}" type="text/javascript"></script>
{% endblock %}


{% block header %}
<div id="header" class="brand">
    <div id="alarmstufe">B2</div>
    <h1>Wohnungsbrand</h1>
</div>    
{% endblock %}

{% block content %}
<div id="einsatz_links">    
    <div id="details">
		<ul>
			<li>Höchstädtplatz 5</li>
			<li>1200 Wien</li>			
		</ul>
		<p id="objekt">Dachgeschoßwohnung</p>
		<p id="bemerkung">Flammen schlagen aus dem Fenster, oberstes Stockwerk, keine Personen mehr im Gebäude</p>
    </div>
    <div id="ausrueckeordnung">
		<div class="vehicle_order_entry">RLFA 2000</div>    
		<div class="vehicle_order_entry">KDOF-A</div>
		<div class="vehicle_order_entry">GTLF 10000</div>
	</div>
</div>

{% endblock %}
