{% extends 'infoscreen_screen/base.html' %}

{% block title %}Feuerwehr Infoscreen - Bildschirm rechts{% endblock %}

{% block head %}
    <script src="{% url screen:javascript_main '1' %}" type="text/javascript"></script>
{% endblock %}

{% block header %}
<div id="header" class="frieden">
    <h1>Freiwillige Feuerwehr St.Veit/Gölsen</h1>
</div>    
{% endblock %}

{% block content %}
<div id="frieden_rechts">
	<div id="news">
		<h1>Aktuelle News</h1>
		<div class="news_entry">
			<h1>Titel</h1>
			<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra facilisis felis sit amet tincidunt. Cras ut turpis mauris. Sed ultricies volutpat arcu ut iaculis. Nam vel lorem ut dui porta vehicula sagittis quis est. Integer in justo id dolor blandit malesuada eget vitae erat. Pellentesque id est sit amet ante consectetur malesuada et non mi. Donec non neque in diam lobortis rhoncus.</div>
			<p class="date">Dienstag, 20.12.2011</p>
		</div>	
		<div class="news_entry">
			<h1>Titel</h1>
			<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra facilisis felis sit amet tincidunt. Cras ut turpis mauris. Sed ultricies volutpat arcu ut iaculis. Nam vel lorem ut dui porta vehicula sagittis quis est. Integer in justo id dolor blandit malesuada eget vitae erat. Pellentesque id est sit amet ante consectetur malesuada et non mi. Donec non neque in diam lobortis rhoncus.</div>
			<p class="date">Dienstag, 20.12.2011</p>
		</div>	
	</div>
	<div id="fahrzeuge">
		<h1>Fahrzeuge nicht einsatzbereit</h1>
		<div class="vehicle_entry">
			RLF-A 2000
		</div>
		<div class="vehicle_entry">
			KDOF-A
		</div>
	</div>
	<div id="geraete">
		<h1>Ger&auml;te nicht einsatzbereit</h1>
		<div class="util_entry">
			Tauchpumpe
		</div>
		<div class="util_entry">
			Stromerzeuger 10kV
		</div>
	</div>
</div>
{% endblock %}

