{% extends 'infoscreen_screen/base.html' %}

{% block title %}Feuerwehr Infoscreen - Bildschirm rechts{% endblock %}

{% block head %}
    <script src="{% url screen:javascript_main '1' '1' %}" type="text/javascript"></script>
{% endblock %}


{% block header %}
<div id="header" class="brand">
    <div id="alarmstufe"></div>
    <h1 id="classification"></h1>
</div>  
{% endblock %}

{% block content %}
<div id="einsatz_rechts">
    
    <div id="karte">
        <h1>Laufende Einsätze: <span id="lauf_missionen"></span></h1>
        <iframe id="map" height="550" width="960" src="" scrolling="no"> 
        </iframe> 
    </div>
    
    <div id="dispos_info">
        <h1>Feuerwehren im Einsatz</h1>
        <div id="dispos">
    </div>
    
</div>

{% endblock %}
