{% extends 'infoscreen_screen/base.html' %}

{% block title %}Feuerwehr Infoscreen - Bildschirm links{% endblock %}

{% block head %}
    <script src="{% url screen:javascript_main '0' %}" type="text/javascript"></script>
{% endblock %}


{% block header %}
<div id="header" class="brand">
    <div id="alarmstufe"></div>
    <h1 id="classification"></h1>
</div>    
{% endblock %}

{% block content %}
<div id="einsatz_links">    
    <div id="details">
		<ul>
			<li><span id="street"></span> <span id="housenr"></span> <span id="stairnr"></span> <span id="doornr"></span></li>
			<li><span id="zip"></span> <span id="place"></span></li>			
		</ul>
		<p id="object"></p>
		<p id="notes"></p>
    </div>
    <div id="ausrueckeordnung">

	</div>
</div>

{% endblock %}
