{% extends 'infoscreen_screen/base.html' %}

{% block title %}Feuerwehr Infoscreen - Bildschirm rechts{% endblock %}

{% block head %}
    <script src="{% url screen:javascript_main '1' '1' %}" type="text/javascript"></script>
{% endblock %}


{% block header %}
<div id="header" class="brand">
    <div id="alarmstufe"></div>
    <h1 id="classification"></h1>
</div>  
{% endblock %}

{% block content %}
<div id="einsatz_rechts">
    
    <div id="karte">
        <iframe id="map" height="596" width="520" src="" scrolling="no"> 
        </iframe> 
    </div>
    
    <h2>Feuerwehren im Einsatz</h2>
    <div id="dispos">
    </div>
</div>

{% endblock %}
