Source: infoscreen
Section: web
Priority: extra
Maintainer: Bernhard Posselt <bernhard.posselt@gmx.at>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>, 
 Bernhard Posselt <bernhard.posselt@gmx.at>
Build-Depends: debhelper (>= 7.0.50~), python (>=2.6.6-3), po-debconf
X-Python-Version: >=2.6
Standards-Version: 3.9.1
Homepage: https://github.com/Raydiation/itp-bif3
Vcs-Git: git://github.com/Raydiation/itp-bif3.git
Vcs-Browser: https://github.com/Raydiation/itp-bif3

Package: infoscreen
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, debconf (>= 0.5) | debconf-2.0,
 python-lxml, python-reportlab, python-reportlab, apache2, libapache2-mod-wsgi, python-mysqldb, mysql-server, mysql-client
Description: Firefighters Infoscreen
 Infoscreen is a software for displaying missions and news for  firefighters 

